*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.parent{
    border: 2px black dotted;
    display: inline-block;
}
.box{
display: inline-block;
background-color: purple;
width: 100px;
height: 100px;
}
#two{
    background-color: green;
}
.contenedor{
    background-color: grey;
    margin: auto;
    margin-top: 40px;    
    border: 2px black solid;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    width: 500px;
    height: 200px;
    color: white;
    text-align: center;
    
}
.superior{
    background-color: red;
    width: 30%;
    height: 50px;
    border: 2px black solid;
    border-radius: 10px 10px 10px 10px;
    color: white;
    position: relative;
    bottom: 25px;
    display: inline-block;
    text-align: vertical center;
}