*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.container{
    border: 0.3rem solid black;
    display: flex;
    align-items: baseline;
    height: 80vh;


}
.box{
    width: 10rem;
    height: 10rem;

}
.box1{
    background-color: blue;
    text-align: center;
    flex-grow: 1;
}
.box2{
    background-color: blueviolet;
    text-align: center;
    flex-grow: 1;
}
.box3{
    background-color: burlywood;
    text-align: center;
}   
.box4{
    background-color: bisque;
    text-align: center;
}
.box5{
    background-color: aquamarine;
    text-align: center;
}
.box6{
    background-color: brown;
    text-align: center;
}
